<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <ul>
        <li><a th:href="@{/}">MAIN</a></li>
        <li><a th:href="@{/info}">INFO</a></li>
        <li><a th:href="@{/about}">ABOUT</a></li>
        <li><a th:href="@{/admin}">ADMIN</a></li>
        <li><a th:href="@{/blocked}">BLOCKED</a></li>
        <div sec:authorize="isAuthenticated()">
            <li><a th:href="@{/logout}">LOGOUT</a></li>
        </div>
    </ul>
</div>
</body>
</html>