<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sca;e=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<div id="forbidden">
    <div class="forbidden">
        <div class="forbidden-403">
            <h3>Forbidden Access</h3>
            <h1><span>4</span><span>0</span><span>3</span></h1>
        </div>
        <h2><a th:href="@{/}">BACK TO HOME</a></h2>
    </div>
</div>
</body>
</html>