<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/blocked.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <title>Blocked Users</title>
</head>
<body>
<div th:insert="fragments/header::header"></div>
<h1>Blocked Users</h1>
<div th:if="${blockedUsers}">
    <table class="table100">
        <thead>
        <tr class="table100-head">
            <th class="column1">User</th>
            <th class="column2">Blocked since</th>
            <th class="column2">Blocked until</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blockedUser : ${blockedUsers}">
            <td th:text="${blockedUser.key}" class="column1"></td>
            <td th:text="${blockedUser.value.getBlockedTimestamp()}" class="column2"></td>
            <td th:text="${blockedUser.value.getBlockedUntilTimestamp()}" class="column2"></td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>